.CatchphraseList{
    display: grid;
    grid-template-columns:  repeat(auto-fill, minmax(90px, 1fr));
    column-gap: .5rem;
    row-gap: .5rem;
    
    list-style: none;

    color: #000;

    max-width: 300px;
    margin: auto;

}

.CatchphraseItem {
    padding: .3rem;

    display:flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    
    border: .1rem solid transparent;
    border-radius: .5rem;

    transition: all .3s;

    background-color: #FFDC00;

    text-transform: uppercase;

    cursor: pointer;
}

.CatchphraseItem:hover{
    transform: scale(1.05);
    transition: all .3s;
}

.CatchphraseItem img{
    height: 3rem;
    -webkit-user-drag: none; 
    -khtml-user-drag: none; 
    -moz-user-drag: none; 
    -o-user-drag: none; 
}

.CatchphraseItem div{
    text-align: center;
    width: 100%;

    font-size: 0.7rem;
    
    white-space: nowrap;
  	overflow: hidden;
  	text-overflow: ellipsis;

}

