header{
    margin-bottom: 1rem;
}

.container{
    padding: 1rem 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 2.5rem;
}